@import "tailwindcss";
@import "tw-animate-css";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "CircularStd-Light";
  src: url("/fonts/CircularStd-Light.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd-Medium";
  src: url("/fonts/CircularStd-Medium.otf") format("opentype");

  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd-Bold";
  src: url("/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd-Black";
  src: url("/fonts/CircularStd-Black.ttf") format("truetype"),
    url("/fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-main-blue: var(--main-blue);
  --color-light-blue: var(--light-blue);
  --color-gray: var(--gray);
  --color-main-green: var(--main-green);
  --color-light-gray: var(--light-gray);
  --color-black: var(--new-black);
  --color-main-yellow: var(--main-yellow);
  --color-lighter-gray: var(--lighter-gray);
  --color-lime: var(--lime);
  --font-circular-medium: "CircularStd-Medium", sans-serif;
  --font-circular-bold: "CircularStd-Bold", sans-serif;
  --font-circular-black: "CircularStd-Black", sans-serif;
  --font-circular-light: "CircularStd-Light", sans-serif;
  --font-poppins: "Inter", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: #e5e5e5;
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --main-green: #2d6a4f;
  --light-gray: #b5b7bc;
  --new-black: #111827;
  --gray: #737373;
  --main-yellow: #f59e0b;
  --lighter-gray: #eff0f0;
  --lime: #fafbfa;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-circular-light;
  }
  .custom-container {
    @apply max-w-[1800px] w-full mx-auto p-4 sm:p-6  md:p-10 lg:p-14;
  }
  a,
  button {
    @apply cursor-pointer disabled:cursor-not-allowed!;
  }
}

.iti {
  @apply font-circular-light has-invalid:ring-destructive/20  has-invalid:border-destructive text-black focus-within:border-ring focus-within:ring-ring/50 focus-within:ring-[3px]  bg-white outline-0 border border-input placeholder:text-sm placeholder:text-main-blue w-full  text-base  rounded-md h-11  py-1 px-3;
}

.iti__tel-input:focus-visible {
  @apply outline-0;
}

.iti__tel-input {
  @apply w-full pl-[45px]! bottom-[-5px]!;
}

.green-btn {
  @apply text-white cursor-pointer  bg-main-green hover:bg-white hover:border-main-green hover:text-main-green border border-transparent transition-colors;
}
.light-green-btn {
  @apply text-main-green cursor-pointer  bg-main-green/10 hover:bg-white hover:border-main-green/10 hover:text-main-green border border-transparent transition-colors;
}
.yellow-btn {
  @apply text-white cursor-pointer  bg-main-yellow hover:bg-white hover:border-main-yellow hover:text-main-yellow border border-transparent transition-colors;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
